/**
 * Spinner
 * =======
 *
 *
 */

.Spinner {
	// margin: 100px auto;
  width: 30px; // 40px
  height: 30px; // 40px
  position: relative;
  text-align: center;

	animation: rotate 2s infinite linear;

	&__Dot {
		width: 60%;
		height: 60%;
		display: inline-block;
		position: absolute;
		top: 0;
		background-color: #fff; //#333;
		border-radius: 100%;
		animation: bounce 2s infinite ease-in-out;
	}

	&__Dot-2 {
		top: auto;
	  bottom: 0px;
		animation-delay: -1s;
	}
}


@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes bounce {
	0%, 100% {
		transform: scale(0)
	}
	50% {
		transform: scale(1)
	}
}
