/**
 * App
 * ===
 *
 * Sonarvio Application
 */

// $color-panel = #a9487e;//#B03B3B;
// $cornerSize = 50px; // trigger.width + 2 * trigger.padding
$color-background = #dcdbdb;
$color-text = #333;

.App {
	opacity: 0.9;
	transition: transform 500ms ease-in-out,
							opacity 500ms ease-in-out;

	color: $color-text;
}

// ## Overwrites
// Youtube: '.html5-video-player a:hover'
.App a, .App a:hover {
	color: blue !important;
}

.Pane {
	height: 100%;
}

.Main {
	height: calc(100% - 100px);//2 * $cornerSize); // 2 * $corner
	background-color: $color-background;

	&::after {
		content: '';
		position: absolute;
		width: calc(100% - 100px); // 2 * $cornerSize;
		height: 100px; //2 * $cornerSize;
		left: 100px; //2 * $cornerSize;
		bottom: 0;
		background-color: $color-background;
	}
}

.Trigger {
	position: relative;
	float: left;
	width: 40px; // $corner
	height: 40px;
	padding: 5px;
	margin-left: 50px;
	background-color: $color-background;
	cursor: pointer;

	&::before, &::after {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 50px 50px 0;
		border-color: transparent $color-background transparent transparent;
		cursor: pointer;
	}

	&::before {
		left: -50px;
		bottom: 0;
	}

	&::after {
		left: 0;
		bottom: -50px;
	}
}
