/**
 * Spinner
 * =======
 *
 *
 */

$color-spinner = #a9487e;

.Spinner {
  width: 30px;
  height: 30px;
  position: relative;
  text-align: center;

	animation: rotate 2s infinite linear;
}

.Dot {
	width: 60%;
	height: 60%;
	display: inline-block;
	position: absolute;
	top: 0;
	background-color: $color-spinner;
	border-radius: 100%;
	animation: bounce 2s infinite ease-in-out;

  & + & {
  	top: auto;
    bottom: 0px;
  	animation-delay: 1s;
  }
}


@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes bounce {
	0%, 100% {
		transform: scale(0)
	}
	50% {
		transform: scale(1)
	}
}
